
h3 {
  font-size: 1.5em;
  margin: 0px;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

button {
  background-color: #c106b1;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  float: right;
}

.input-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  color: #212121;
}

input, textarea {
  background-color: white;
  border-radius: 3px;
  border-width: 1px;
  color: #5f6368;
  font-size: 1.1em;
  height: 45px;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  max-width: 100%;
  padding: 8px 8px 8px 8px;
  vertical-align: middle;
  width: 100%;
}

.card {
    display: flex;
    background-color:#dddcdd;;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    margin: 40px auto;
    padding: 20px;
    width: 60vw;
  }
  
  .card::after {
    content: " ";
    display: block;
    clear: both;
  }

  textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    height: 150px;
  }

